<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.litt.micro.mapper.CoursesScheduleMapper">
	<!-- 基础的studentResultmap -->
	<resultMap type="CoursesSchedule" id="CoursesSchedule">
		<id column="xh" property="xh"/>
		<result column="ID" property="ID"/>
		<result column="xn" property="xn"/>
		<result column="xq" property="xq"/>
		<result column="KCDM" property="KCDM"/>
		<result column="SKBJ" property="SKBJ"/>
		<result column="stimezc" property="stimezc"/>
		<result column="DSZ" property="DSZ"/>
		<result column="xqj" property="xqj"/>
		<result column="JCInfo" property="JCInfo"/>
		<result column="room" property="room"/>
		<result column="RKJSGH" property="RKJSGH"/>
		<result column="KCLBIMC" property="KCLBlMC"/>
		<result column="KHFS" property="KHFS"/>
		<result column="XF" property="XF"/>
		<result column="jsxs" property="jsxs"/>
		<result column="SYXS" property="SYXS"/>
		<result column="SJXS" property="SJXS"/>
		<result column="QTXS" property="QTXS"/>
		<result column="JSM_XQ" property="JSM_XQ"/>
		<result column="lessname"   property="lessname"/>
		<result column="jsxm" property="jsxm" />
	</resultMap>
	
	<!-- 根据学生号查找出学生 -->
	<select id="finStudentByCard_number" resultMap="CoursesSchedule">
		select   distinct V_JW_XSKB.*   
		from     V_JW_XSKB
		where    xh=#{0} and xn=#{1}  and xq=#{2}
		order by KCDM
	</select>  
	     
	
</mapper>



